 
  /* home Section begin */
  *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    
  }
  body{
     font-family: 'rubik';
     font-weight: 500;
     font-size: 16px;
     color: #4f5665;
  }
   /* navbar section begin */

.home{
   height: 100vh;
}

  .logo-1{
     font-family: 'rubik';
     font-weight: 500;
     color: #0B132A;
  }
  .logo-2 {
     font-family: 'rubik';
     font-weight: 700;
     font-size: 20px;
  }
  .sign_in{
   font-weight: 500;
   text-decoration: none;
   color: #0B132A;
  }
  .sign_up{
   font-weight: 500;
   text-decoration: none;
   padding: 13px 45px;
   color:  #F53855;
   border-radius: 50px;
   border: 1px solid #F53855;
   transition: 0.4s;
  }
  .sign_up:hover{
   background-color: #F53855;
   color: white;
  }
 
  /* navbar section end */
  .home_btn{
   text-decoration: none;
   background-color: #F53855;
   font-weight: 700;
   color: white;
   padding: 17px 50px;
   border-radius: 10px;
   box-shadow: rgba(245, 56, 56, 0.35) 0px 30px 40px -7px;
   display: inline-block;
  }
  .home_btn:hover{
   background-color: #d32f2f;
  }
  .home_header{
   font-size: 50px;
   font-weight: 500;
   color: #0B132A;
  }
  /* home Section end */

   /*--------- users Section end ---------*/

   .users {
      border-radius: 10px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
 }
 
 .user_header {
      font-weight: 700;
      font-size: 25px;
      color: #0B132A;
      margin: 0;
 }
 .user_text {
      font-size: 20px;
      margin:0;
 }
 
 .line {
      height: 100%;
      width: 2px;
      background-color: #EEEFF2;
 }
    /*--------- usersSection end------- */
     /*--------- features Section begin------- */
      .correct{
         margin: 0;
         font-size: 14px;
      }
      .header_text{
         font-size: 35px;
         font-weight: 500;
         color: #0B132A;
      }
     /*--------- features Section end------- */

     /* #################### Plan Section begin #################### */
     .plan{
      background-color: #fbfbfb;
     }
     .caed_title_1{
      font-weight: 500;
      font-size: 18px;
      color: #0B132A;
     }
     .correct_text_card{
      font-size: 14px;
      color: #4f5665;
      margin: 0;
     }
     .card_title_2{
      font-size: 15px;
      font-weight: 500;
      color: #0B132A;
     }
     .btn_select{
      font-weight: 700;
      color: #F53838;
      border-radius: 50px;
      border: 2px solid #F53838;
      text-decoration: none;
      padding: 10px 60px;
      transition: 0,4s;
     }
     .btn_select:hover{
      background-color: #F53838;
      color: #fbfbfb;
     }
     .card_cs{
      border: 2px solid #DDDDDD;
      border-radius: 10px;
     }
     /*#################### Plan Section end #################### */ 


     /* ---------------------------- Plan Section begin ---------------------------- */
.plan {
   background-color: #fbfbfb;
}

.card_title_1 {
   font-weight: 500;
   font-size: 18px;
   color: #0B132A;
}
.correct_text_card {
   font-size: 14px;
   color: #4F5665;
   margin: 0;
}

.card_title_2 {
   font-size: 25px;
   font-weight: 500;
   color: #0B132A;
}
.btn_select {
   font-weight: 700;
   color: #F53838;
   border-radius: 50px;
   border: 2px solid #F53838;
   text-decoration: none;
   padding: 10px 60px;
   transition: 0.4s;
}
.btn_select:hover {
   background-color: #F53838;
   color: #fbfbfb;
}

.card_cs {
   border: 2px solid #DDDDDD;
   border-radius: 10px;
}

.month {
   color: #4F5665;
   font-weight: 400;
   font-size: 25px;
}

.card_cs_premium {
   border-color: rgba(245, 56, 56, 1);
}

.btn_premium {
   background-color: #F53838;
   color: #fbfbfb;
}

.btn_premium:hover {
   background-color: #fbfbfb;
   color: #F53838;
}
/* ---------------------------- Plan Section End ---------------------------- */

/* ---------------------------- comment Section begin ---------------------------- */
.comment{
   padding: 30px;
   border: 2px solid rgba(221, 221, 221, 1);
   border-radius: 10px;
}
.auther{
   color: rgba(11, 19, 42, 1);
   font-weight: 500;
   font-size: 18px

}
.country{
   color: rgba(79, 86, 101, 1); 
   font-size: 14px;
}
.message{
   color: rgba(11, 19, 42, 1);
}
.comment-page .carousel-control-prev-icon,
.comment-page .carousel-control-next-icon {
     display: none;
}
.comment-page .carousel-control-prev,
.comment-page .carousel-control-next {
     position: static;
     background-image: url("../images/prev_arrow.svg");
     background-repeat: no-repeat;
     background-position: center;
     background-color: #fff;
     border: 2px solid #F53838;
     border-radius: 50%;
     padding: 26px;
     width: 30px;
     height: 30px;
     margin: 10px;
}

.comment-page .carousel-control-prev:hover,
.comment-page .carousel-control-next:hover {
     background-color: #F53838;
     background-image: url("../images/next_arrow.svg");
     rotate: 360deg;
}
.comment-page .carousel-control-next {
   rotate: 180deg;
}

.text_resize_1{
   width: 65%;
   }
/* ---------------------------- comment Section End ---------------------------- */

/* -------footer section begin------- */
footer {
   background-color: #f8f8f8;
}
.icon{
   font-size: 20px;
   color: #F53838;
   transition: 0.7;
}
.social{
   display: inline;
   padding: 10px;
   border-radius: 50%;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
   justify-content: center;
   align-items: center;
}
.social:hover{
   background-color: #f0f0f0;
}
.cpoyrigt{
   color: #AFB5C0;
}
.footer_head{
   font-weight: 500;
   color: #0B132A;
   
   font-size: 18px;
}
.footer_link{
   text-decoration: none;
   color: #4F5665;
   display: block;
}
.footer_link:hover{
   text-decoration: underline;
   color: #3a3f44;
}


/* ----------------footer section begin-------------- */
   @media screen and (max-width: 768px) {
      .home{
         height: 100% !important;
      }
      
     }
     .text_resize{
      width: 100%;
     }
     .text_resize_1{
      width: 100%;
     }

 
     