 
  /* home Section begin */
  *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    
  }
  body{
     font-family: 'rubik';
     font-weight: 500;
     font-size: 16px;
     color: #4f5665;
  }
   /* navbar section begin */

.home{
   height: 100vh;
}

  .logo-1{
     font-family: 'rubik';
     font-weight: 500;
  }
  .logo-2 {
     font-family: 'rubik';
     font-weight: 700;
     font-size: 20px;
  }
  .sign_in{
   font-weight: 500;
   text-decoration: none;
   color: #0B132A;
  }
  .sign_up{
   font-weight: 500;
   text-decoration: none;
   padding: 13px 45px;
   color:  #F53855;
   border-radius: 50px;
   border: 1px solid #F53855;
   transition: 0.4s;
  }
  .sign_up:hover{
   background-color: #F53855;
   color: white;
  }
 
  /* navbar section end */
  .home_btn{
   text-decoration: none;
   background-color: #F53855;
   font-weight: 700;
   color: white;
   padding: 17px 50px;
   border-radius: 10px;
   box-shadow: rgba(245, 56, 56, 0.35) 0px 30px 40px -7px;
   display: inline-block;
  }
  .home_btn:hover{
   background-color: #d32f2f;
  }
  .home_header{
   font-size: 50px;
   font-weight: 500;
   color: #0B132A;
  }
  /* home Section end */

   /*--------- users Section end ---------*/

   .users {
      border-radius: 10px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
 }
 
 .user_header {
      font-weight: 700;
      font-size: 25px;
      color: #0B132A;
      margin: 0;
 }
 .user_text {
      font-size: 20px;
      margin:0;
 }
 
 .line {
      height: 100%;
      width: 2px;
      background-color: #EEEFF2;
 }
    /*--------- usersSection end------- */
     /*--------- features Section begin------- */
      .correct{
         margin: 0;
         font-size: 14px;
      }
      .header_text{
         font-size: 35px;
         font-weight: 500;
         color: #0B132A;
      }
     /*--------- features Section end------- */

   @media screen and (max-width: 768px) {
      .home{
         height: 100% !important;
      }
      
     }
 
     